<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="quizValidator" class="edu.otus.spring01.validator.QuizValidatorImpl"/>

    <bean name="quizLoader" class="edu.otus.spring01.loader.CSVQuizLoader">
        <constructor-arg type="org.springframework.core.io.Resource" value="classpath:quiz.csv" />
    </bean>

    <bean name="quizService" class="edu.otus.spring01.service.QuizServiceImpl">
        <constructor-arg ref="quizLoader"/>
        <constructor-arg ref="quizValidator"/>
    </bean>
    <bean name="quizPresenter" class="edu.otus.spring01.presenter.ConsoleQuizPresenter"/>
    <bean name="quizRunner" class="edu.otus.spring01.runner.QuizRunnerImpl">
        <constructor-arg ref="quizPresenter"/>
    </bean>

</beans>